@{ Layout = null; }

<div class="card">
    <div class="card-header">
        <h4>Navegar</h4>
    </div>
    <div class="card-body">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item"><a asp-controller="User" asp-action="Profile" class="nav-link @ViewBag.Profile">Perfil</a></li>
            <li class="nav-item"><a asp-controller="User" asp-action="General" class="nav-link @ViewBag.General">Geral</a></li>
            <li class="nav-item"><a asp-controller="User" asp-action="Address" class="nav-link @ViewBag.Address">Endereço</a></li>
            <li class="nav-item"><a asp-controller="User" asp-action="Document" class="nav-link @ViewBag.Documents">Documentos</a></li>
            <li class="nav-item"><a asp-controller="User" asp-action="Wallet" class="nav-link @ViewBag.Wallets">Carteiras</a></li>
            <li class="nav-item"><a asp-controller="User" asp-action="Companies" class="nav-link @ViewBag.Companies">Empresas</a></li>
        </ul>
    </div>
</div>